@import '../../../scss/variables/colors';
@import '../../../scss/layout';

.container {
  background-color: $gallery;
  border: 0;
  border-radius: 0 4px 4px 0;
  composes: row middle center;
  height: 40px;
  width: 40px;
}